#lightbox-mask {
	position: fixed;
	z-index: 1000;
	top: 0;
	left: 0;
	display: none;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0, 0);
	overflow: scroll;
	-webkit-transition: background .5s;
	-moz-transition: background .5s;
	transition: background .5s;
}
#lightbox-mask.active { background: rgba(0,0,0, .6); }

#lightbox {
	position: relative;
	display: none;
	opacity: 0;
	width: 90%;
	height: 80%;
	margin: 0 auto 5% auto;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background: #fff;
	-webkit-box-shadow: 0 10px 22px rgba(0,0,0, .35);
	-moz-box-shadow: 0 10px 22px rgba(0,0,0, .35);
	box-shadow: 0 10px 22px rgba(0,0,0, .35);
	color: #000;
	font-size: 14px;
	/* Animate fading in from above */
	-webkit-transition: opacity .5s, margin-top .5s;
	-moz-transition: opacity .5s, margin-top .5s;
	transition: opacity .5s, margin-top .5s;
}
#lightbox.active {
	margin-top: 5%;
	opacity: 1;
}

#lightbox .lightbox-close {
	position: absolute;
	z-index: 10;
	top: -10px;
	right: -10px;
	width: 24px;
	height: 24px;
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	border-radius: 100%;
	background: #fff;
	color: #666;
	line-height: 24px;
	text-align: center;
	text-decoration: none;
	cursor: pointer;
}

.lightbox-trigger { cursor: pointer; }

#picture-lightbox {
	width: 100%;
	height: 100%;
	-webkit-border-radius: inherit;
	-moz-border-radius: inherit;
	border-radius: inherit;
}
#picture-lightbox .picture {
	position: relative;
	z-index: 0;
	width: 100%;
	height: 100%;
	-webkit-border-radius: inherit;
	-moz-border-radius: inherit;
	border-radius: inherit;
	background: #000 no-repeat center;
	background-size: contain;
	overflow: hidden;
}
#picture-lightbox .info {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	padding: 0 3% 7px;
	background: rgba(0,0,0, .3);
}
#picture-lightbox .picture:hover .info {
	background: -webkit-linear-gradient(rgba(0,0,0, .3), rgba(0,0,0, .8));
	background: -moz-linear-gradient(rgba(0,0,0, .3), rgba(0,0,0, .8));
	background: linear-gradient(rgba(0,0,0, .3), rgba(0,0,0, .8));
}
#picture-lightbox .info:before {
	content: '';
	position: absolute;
	top: -20px;
	left: 0;
	display: block;
	width: 100%;
	height: 20px;
	background: -webkit-linear-gradient(rgba(0,0,0, 0), rgba(0,0,0, .3));
	background: -moz-linear-gradient(rgba(0,0,0, 0), rgba(0,0,0, .3));
	background: linear-gradient(rgba(0,0,0, 0), rgba(0,0,0, .3));
}

#picture-lightbox .info .uploaded-by,
#picture-lightbox .info .description {
	margin: 0;
	color: #fff;
	font-size: 14px;
	font-weight: normal;
	line-height: normal;
	text-shadow: 0 0 3px rgba(0,0,0, .5);
}
#picture-lightbox .info .uploaded-by { font-size: 16px; }
#picture-lightbox .info .description {
	height: 0;
	overflow: hidden;
}
#picture-lightbox .picture:hover .info .description { height: auto; }
