<!--[if lt IE 9]>
	<p class="chromeframe">
		<strong>Viktig information:</strong><br>
		Du använder en webbläsare som är <strong><a href="http://en.wikipedia.org/wiki/Internet_Explorer_8" target="_blank" title="Internet Explorer 8 - Wikipedia.org">mer än 5 år gammal</a></strong>. På Internet är det <strong>väldigt länge</strong>! Vänligen <a href="http://browsehappy.com/" target="_blank">uppdatera din webbläsare</a> eller <a href="http://www.google.com/chromeframe/?redirect=true" target="_blank">aktivera Google Chrome Frame</a> för att förbättra din upplevelse och få se snyggare webbsidor.
	</p>
<![endif]-->
