#slides {
	position: relative;
	height: 624px;
	padding: 0;
	margin: 0;
	list-style-type: none;
}

#slides li {
	position: absolute;
	top: 0;
	display: none;
	opacity: 0;
	-webkit-transition: opacity 1s;
	-moz-transition: opacity 1s;
	-ms-transition: opacity 1s;
	-o-transition: opacity 1s;
	transition: opacity 1s;
}

#slides li.active {
	display: block;
	opacity: 1;
}

#slides img {
	max-width: 389px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
}

#slides p {
	margin: 15px 0 0;
	color: #777;
	text-align: center;
}

.schedule {
	padding-left: 0;
	list-style-type: none;
}

.schedule time {
	padding: 0 8px;
	background: #f7ecda;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
	color: #7a6951;
	font-size: 14px;
	font-weight: 600;
}

.toastmasters-contact div {
	float: left;
	margin: 10px 40px 20px 0;
}
