<h2 style="font-family: cursive;">Boende</h2>
<p>
	För er som planerar att komma på vårt bröllop rekommenderar vi att ni ordnar boende i god tid, då Öland är en attraktiv semesterort vilket gör att stugor samt rum snabbt blir uppbokade.<br>
	I god tid när det gäller bokning så menar vi redan i Januari/Februari.
</p>
<p>
	Vi rekommenderar de här ställena som alla kan ta ganska många gäster.
</p>
<ul>
	<li>Solö</li>
	<li>Gästhemmet</li>
	<li>Böda sand</li>
</ul>
<p>
	För fler boendetips rekommenderar vi <a href="http://google.se/" target="_blank">Google</a> och <a href="http://stugknuten.com/" target="_blank">Stugknuten</a>!
</p>
