<article>
	<h1>Boende</h1>
	<p>
		För er som planerar att komma på vårt bröllop rekommenderar vi att ni ordnar boende i god tid, då Öland är en attraktiv semesterort vilket gör att stugor samt rum snabbt blir uppbokade. I god tid när det gäller bokning så menar vi redan i Januari/Februari.
	</p>
	<p class="list-title">
		Vi rekommenderar de här ställena som alla kan ta ganska många gäster.
	</p>
	<ul class="with-title">
		<li>Solö</li>
		<li>Gästhemmet</li>
		<li>Böda sand</li>
	</ul>
	<p>
		För fler boendetips rekommenderar vi <a href="http://stugknuten.com/resultatoland.asp" target="_blank">Stugknuten</a> eller <a href="https://www.google.se/#q=boende+norra+öland" target="_blank">Google</a>!
	</p>
</article>
