<h2 style="font-family: cursive;">Att ta sig till, samt runt på Öland</h2>
<p>
	Under bröllopsdagen kommer vi att hålla till på stranden Homrevet alternativ Böda kyrka (vid dåligt väder) samt på restaurang Svea i Skäftekärr.
</p>
<p>
	De boenden vi rekommenderar ligger i Byxelkrok samt i Böda, några kilometer från där själva bröllopsfesten ska vara. Det är lite avstånd, och utan bil är det inte helt lätt att ta sig runt. Vi rekommenderar samåkning eller sommartaxi.
</p>

<h3 style="font-family: cursive;">Med egen bil</h3>
<p>
	Från Stockholm till Byxelkrok är det ca 50 mil. Kör mot Kalmar och över Ölandsbron och rakt upp på ön ca 9 mil.
</p>

<h3 style="font-family: cursive;">Buss från Stockholm</h3>
<p>
	Silverstrands kör bussar direkt från Stockholm till Byxelkrok, resan tar drygt 6 timmar och avgår flera gånger under dagen under sommaren. 300 kr för en enkel resa. Boka på silverlinjens hemsida.
</p>

<h3 style="font-family: cursive;">Flyg till Kalmar</h3>
<p>
	Flyg med SAS från Arlanda eller Kalmarflyg från Bromma till Kalmar. Enklast hyr du en bil på flygplatsen och kör i knappt 1,5 timme till Byxelkrok.
</p>

<h3 style="font-family: cursive;">Buss på Öland</h3>
<p>
	Det finns en lokalbuss på Öland som man kan ta sig runt med, för mer information se länken. <a href="http://www.klt.se/" target="_blank">http://www.klt.se/</a>
</p>


<h3 style="font-family: cursive;">Samåkning</h3>
<p>
	Om ni har plats över i bilen eller vill åka med i någons bil, hör av er till Toastmaster Björn & Carina Lyngvik så försöker de samordna.
</p>

<h3 style="font-family: cursive;">Taxi</h3>
<p>
	Sommartaxi  Sälen Norra Öland: 0485-220 80, alternativt Löttorps taxi: 0485-205 89.
</p>
<p>
	Förboka taxi minst en vecka innan så ni är säkra på att era transporter kommer att fungera till er belåtenhet.
</p>
