<article>
	<h1>O.s.a</h1>
	<p>
		Vänligen o.s.a till våra Toastmasters Björn &amp; Carina senast <%= time_tag configatron.wedding_date - 1.month, l(configatron.wedding_date - 1.month, format: '%Y-%m-%d') %>.
	</p>
	<div class="toastmasters-contact clearfix">
		<% configatron.toastmasters.each do |toastmaster| %>
			<div>
				<span class="fancy"><%= toastmaster[:name] %></span><br>
				<%= toastmaster[:phone] %><br>
				<%= link_to toastmaster[:mail], "mailto:#{toastmaster[:mail]}?subject=Ölandsbröllop #{l configatron.wedding_date - 1.month, format: '%Y'}", target: '_blank' %>
			</div>
		<% end %>
	</div>
</article>
