<article>
	<h1 style="font-family: cursive;">Bröllopsdagen</h1>
	<ol>
		<li>Kl. <%=l configatron.wedding_date, format: '%H.%M' %> Hålls vigseln på stranden Homrevet, alternativt Böda kyrka vid dåligt väder.</li>
		<li>Kl. <%=l configatron.wedding_date + 90.minutes, format: '%H.%M' %>-<%=l configatron.wedding_date + 150.minutes, format: '%H.%M' %> I väntan på brudparets ankomst serveras förfriskningar på restaurang Svea.</li>
		<li>Kl. <%=l configatron.wedding_date + 3.hours, format: '%H.%M' %> Serveras sommarbuffé på restaurang Svea.</li>
	</ol>

	<h2 style="font-family: cursive;">Att tänka på</h2>
	<p>För er med höga klackar kan det bli aktuellt med ombyte till sandaler eller barfota för promenad till stranden.</p>
	<p>Efter vigseln går färden till Skäftekärr där middagen och festen äger rum, efter middagen finns det även möjlighet för bar och dans.</p>

	<h2 style="font-family: cursive;">Toastmaster</h2>
	<p>Vill ni säga något under middagen får ni gärna kontakta Toastmaster Björn &amp; Carina Lyngvik.</p>
	<p>Om ni har plats över i bilen eller vill åka med i någon annans bil, hör av er till Toastmaster Björn &amp; Carina, så försöker de att samordna transporterna.</p>
</article>
