<h2 style="font-family: cursive;">Bröllopsdagen</h2>
<ol>
	<li>Kl. 15.00 Hålls vigseln på stranden Homrevet, alternativt Böda kyrka vid dåligt väder.</li>
	<li>Kl. 16.30-17.30 I väntan på brudparets ankomst serveras förfriskningar på restaurang Svea.</li>
	<li>Kl. 18.00 Serveras sommarbuffé på restaurang Svea.</li>
</ol>

<h3 style="font-family: cursive;">Att tänka på</h3>
<p>För er med höga klackar kan det bli aktuellt med ombyte till sandaler eller barfota för promenad till stranden.</p>
<p>Efter vigseln går färden till Skäftekärr där middagen och festen äger rum, efter middagen finns det även möjlighet för bar och dans.</p>

<h3 style="font-family: cursive;">Toastmaster</h3>
<p>Vill ni säga något under middagen får ni gärna kontakta Toastmaster Björn &amp; Carina Lyngvik.</p>
<p>Om ni har plats över i bilen eller vill åka med i någon annans bil, hör av er till Toastmaster Björn &amp; Carina, så försöker de att samordna transporterna.</p>
